*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
    width: 100%;
    padding: 0 5%;
    margin-bottom: 3rem;
}

header figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    color: white;
    margin-top: 1rem;
}

header figure figcaption ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

header figure figcaption ul li{
    font-size: large;
    color: white;
}

header nav{
    width: 45%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-size: large;
    transition: 1s;
}

header nav ul li a:hover{
    font-size: larger;
    font-weight: bold;
}

header nav ul #im1{
    width: 5rem;
}

header nav ul #im2{
    width: 5rem;
}

main{
    height: 70vh;
    padding: 2rem  5rem;
}

main section{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #00c8ff;
    border-radius: 3rem;
    border: 1.5px solid black;
    box-shadow: 0px 0px 44px 5px #00c8ff;
}

main section #pat{
    width: 45vw;
    height: 100%;
    padding: 2rem 2rem;
}

main section #pat h4{
    font-size: large;
    margin-bottom: 0.5rem;
}

main section #pat p{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

main section #pat h6{
    font-size: large;
    margin-bottom: 2rem;
}

main section #pat ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 60%;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

main section #pat ul li a img{
    width: 7rem;
    height: 7rem;
}

main section #pat h5{
    font-size: large;
    margin-bottom: 2rem;
}

main section #pat #pod{
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
}

main section #pat #pod button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 5vh;
    border-radius: 5rem;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

main section #pat #pod button:hover{
    background-color: #9fde0e;
}

main section #pat #pod button a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: black;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

main section #pat #pod button a:hover{
    font-size: x-large;
    font-weight: bolder;
}

main section fieldset{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50vw;
    background-color: #00c8ff;
    border-radius: 3rem;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

main section fieldset form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

main section fieldset form #champ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15%;
    width: 70%;
    margin-bottom: 5%;
}

main section fieldset form #champ label{
    font-size: large;
    margin-bottom: 0.3rem;
}

main section fieldset form #champ input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60%;
    width: 95%;
    border-radius: 5rem;
    border: 3px solid #9fde0e;
    background-color: rgba(255, 255, 255, 0.432);
    font-size: larger;
}

main section fieldset form #pod button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 5vh;
    border-radius: 5rem;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

main section fieldset form #pod button:hover{
    background-color: #9fde0e;
}

main section fieldset form #pod button a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: black;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

main section fieldset form #pod button a:hover{
    font-size: x-large;
    font-weight: bolder;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top:  solid rgba(159, 222, 14, 0.7);
}

footer figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer figure figcaption{
    display: flex;
    color: white;
    margin: 2rem 0;
}